 
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color:#007bff;
    color: white;
    border: none;
    cursor: pointer;
}



button:hover {
    background-color: #0056b3;
}

.section {
    display: none;
}

.active-section {
    display: block;
}

#sections {
    margin-top: 20px;
}



/* CSS pour le toast */
.toast-success {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Couleur verte */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast-success .icon {
    font-size: 20px;
}
