<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/script_stock.js') }}" defer></script>
</head>
<body class="container">
    <header>
        <h1 style="color: orange;">Société Industrielle des pates Alimentaires</h1>
        <h3>Bienvenue {{username}}</h3>
        <nav>
            <button class="btn-section" onclick="showSection('production')">Production</button>
            <button class="btn-section" onclick="showSection('stock')">Stock</button>
            <button class="btn-section" onclick="showSection('waste')">Waste</button>
            <button class="btn-section" onclick="showSection('report')">Report</button>            
            {% if 'username' in session %}
            <a class="btn btn-primary" href="/medine/logout">Déconnexion</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        <div id="sections">
            <!-- Section d'accueil -->
            <div id="home" class="section">
                <!-- Cette section affichera l'image d'accueil -->
            </div>

            <!-- Sections cachées par défaut -->
            <div id="production" class="section" style="display:none; background-color: azure;">
                {% include "partials/production.html" %}
            </div>
            <div id="stock" class="section" style="display:none; background-color:beige;">
                {% include "partials/stock.html" %}
            </div>
            <div id="waste" class="section" style="display:none;">
                {% include "partials/waste.html" %}
            </div>
            <div id="report" class="section" style="display:none;">
                {% include "partials/report.html" %}
            </div>
        </div>
    </main>
</body>
</html>
